MONGO_URL="mongodb+srv://:@cluster0.gm4im..net/es?authSource=admin&replicaSet=-fyvg6e-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true"
ELASTIC_SEARCH_URL="https://USERNAME:PWD@search-job-portal.ap-south-1.es.amazonaws.com"